.item {
  display: flex;
  width: 350px;
  height: 70px;
  margin-bottom: 15px;
  box-shadow: -1px 5px 8px 1px rgba(34, 60, 80, 0.26);
}

.status {
  display: flex;
  width: 15px;
  height: 15px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
  border-radius: 50%;
}
.true {
  composes: status;
  background-color: springgreen;
}
.false {
  composes: status;
  background-color: red;
}
.avatar {
  width: 60px;
  margin-left: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 6px;
}
.name {
  display: flex;
  margin-left: 20px;
  align-items: center;
  font-size: larger;
  font-weight: 600;
}
